body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  margin: auto;
  padding: 5rem 0 5rem 0;
  text-align: left;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  margin: auto;
  padding: 2rem 0 2rem 0;
  display: inline-block;
}

p {
  font-family: 'Caveat', cursive;
  margin: 2rem 0 2rem 0;
  padding: none;
  text-align: center;
  display: inline-block;
  border-style: dotted;
  border-radius: 1rem;
}

img {
  width: 20%;
  height: auto;
  padding: 2rem 0 1rem 0;
  margin: auto;
  display: block;
  border-radius: 1rem;
}

.topBlock {
  background-color: #F59DD8;
  padding: none;
  margin: none;
}

.middleBlock {
  background-color: #F5B0A9;
  padding: none;
  margin: none;
}

.bottomBlock {
  background-color: #84F5B9;
  padding: none;
  margin: none;
}
